<form [formGroup]="form">
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" type="text" formControlName="name">
    </div>
    <ng-container *ngIf="name.invalid && (name.dirty  || name.touched)">
      <small class="has-text-danger">Field is required</small>
    </ng-container>
  </div>

  <div class="field">
    <label class="label">Lastname</label>
    <div class="control">
      <input class="input" type="text" formControlName="lastname">
    </div>
    <ng-container *ngIf="lastname.invalid && (lastname.dirty  || lastname.touched)">
      <small class="has-text-danger">Field is required</small>
    </ng-container>
  </div>

  <div class="field">
    <label class="label">Nickname</label>
    <div class="control">
      <input class="input" type="text" formControlName="nickname">
    </div>
    <ng-container *ngIf="nickname.invalid && (nickname.dirty  || nickname.touched)">
      <small class="has-text-danger">Field is required</small>
    </ng-container>
  </div>

  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input class="input" type="text" formControlName="email">
    </div>
    <ng-container *ngIf="email.invalid && (email.dirty  || email.touched)">
      <small class="has-text-danger">Field is required</small>
    </ng-container>
  </div>

  <div class="field">
    <label class="label">Age</label>
    <div class="control">
      <input class="input" type="number" formControlName="age">
    </div>
    <ng-container *ngIf="age.invalid && (age.dirty  || age.touched)">
      <small class="has-text-danger">Field is required</small>
    </ng-container>
  </div>

  <div class="has-text-centered my-5">
    <button
      class="button is-success"
      [ngClass]="{'is-loading': isLoading}"
      (click)="onSave()">
      {{ btnTitle }}
    </button>
  </div>
</form>
